.hero {
    background-color: var(--footer-background);
    color: var(--white-color);
}

/* .hero-title {} */

.hero-btn {
    background-color: var(--accent-text-color);
    color: inherit;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

.section {}

.section-title {
    color: var(--title-text-color);
}

.section-subtitle {
    color: var(--title-text-color);
}

.team-section {
    background-color: var(--section-background);
}

.teammates>li {
    background-color: var(--white-color);
}