.section {
    background-color: var(--primary-background);
}

.filter-btn {
    background-color: var(--section-background);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-text-color);
    color: var(--white-color);
}

.portfolio-item {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    border: 1px solid #eeeeee;
}

.portfolio-item>a {
    color: inherit;
}

.portfolio-item .title {
    color: var(--title-text-color);
}